*{
    padding: 0;
    margin: 0;
    list-style: none; 
    font-family: cursive !important;
}

.navbar{
   
    background-color: rgb(84, 164, 229);
}


.search_bar input{
    width: 700px;
    border-radius: 7px;
    outline: none !important;
    line-height: 40px;
    border: none;
}
.search_bar input::placeholder{
    padding-left: 10px;
}

.icons ul{
    display: flex
}


.icons ul li{
    padding-left: 15px;
}

.main-section{

    display: block;
    background-color: #f2f2f2;
}

.products{
    display: flex;
}


.product_box{
    border: 1px solid black;
    /* height: 400px; */
    
}
.products .filters {
    width: 600px;
    display: flex;
    flex-direction: column;
    /* padding-right: 20px; */
}

.products .listed_products{
    display: flex;
}
.all-div{
background-color: #f2f2f2;
}

.nav_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.all_product{
    border-bottom: 2px solid grey;
    padding-bottom: 10px;
}